# Clusterisation

In [1]:
import pandas as pd
from _jointure_validations_stations import df_jointure_validations_stations
import matplotlib.pyplot as plt
from _pre_proces_stations import df_stations
import seaborn as sns

data=df_jointure_validations_stations()

ERROR 1: PROJ: proj_create_from_database: Open of /opt/mamba/share/proj failed

In [5]:
data.shape

(204317, 74)

In [8]:
import numpy as np 

data_clustering = data.drop(
    ['lda', 'Année', 'Geo Point', 'Geo Shape', 'id_ref_ZdC', 'nom_ZdC', 'id_ref_ZdA'],
    axis=1
).dropna(
    axis=1, how='all' 
).select_dtypes(
    include=np.number
)

data_clustering

,NB_VALD,Mois,lignes,bus_jour,noctilien,gares_id,idf,principal,x,y,...,ind_25_39,ind_40_54,ind_55_64,ind_65_79,ind_80p,ind_inc,pre_IDF,select,expt,
0,55,1,2,16,2,131,1,0,629406.8796,6.883740e+06,...,2106.0,1697.0,902.9,619.1,92.0,46.0,1.0,1.0,1.0,NaN
1,32,1,2,16,2,131,1,0,629406.8796,6.883740e+06,...,2106.0,1697.0,902.9,619.1,92.0,46.0,1.0,1.0,1.0,NaN
2,93,1,2,16,2,131,1,0,629406.8796,6.883740e+06,...,2106.0,1697.0,902.9,619.1,92.0,46.0,1.0,1.0,1.0,NaN
3,316,1,2,16,2,131,1,0,629406.8796,6.883740e+06,...,2106.0,1697.0,902.9,619.1,92.0,46.0,1.0,1.0,1.0,NaN
4,458,1,2,16,2,131,1,0,629406.8796,6.883740e+06,...,2106.0,1697.0,902.9,619.1,92.0,46.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204312,320,6,2,17,1,967,1,1,682264.3099,6.848846e+06,...,661.9,654.0,321.1,314.0,99.0,1.0,1.0,1.0,1.0,NaN
204313,893,6,2,17,1,967,1,1,682264.3099,6.848846e+06,...,661.9,654.0,321.1,314.0,99.0,1.0,1.0,1.0,1.0,NaN
204314,9,6,2,17,1,967,1,1,682264.3099,6.848846e+06,...,661.9,654.0,321.1,314.0,99.0,1.0,1.0,1.0,1.0,NaN
204315,7,6,2,17,1,967,1,1,682264.3099,6.848846e+06,...,661.9,654.0,321.1,314.0,99.0,1.0,1.0,1.0,1.0,NaN
204316,125,6,2,17,1,967,1,1,682264.3099,6.848846e+06,...,661.9,654.0,321.1,314.0,99.0,1.0,1.0,1.0,1.0,NaN

In [6]:
data.columns

Index(['JOUR', 'lda', 'CATEGORIE_TITRE', 'NB_VALD', 'Mois', 'Année', 'arret',
       'lignes', 'bus_jour', 'noctilien', 'nom_long', 'Geo Point', 'Geo Shape',
       'gares_id', 'nom_so_gar', 'nom_su_gar', 'id_ref_ZdC', 'nom_ZdC',
       'id_ref_ZdA', 'nom_ZdA', 'idrefliga', 'idrefligc', 'indice_lig',
       'mode_', 'tertrain', 'terrer', 'termetro', 'tertram', 'terval',
       'exploitant', 'idf', 'principal', 'x', 'y', 'picto ligne', 'nom_iv',
       'geometry', 'index_right', 'idcar_1km', 'i_est_1km', 'lcog_geo', 'ind',
       'men', 'men_pauv', 'men_1ind', 'men_5ind', 'men_prop', 'men_fmp',
       'ind_snv', 'men_surf', 'men_coll', 'men_mais', 'log_av45', 'log_45_70',
       'log_70_90', 'log_ap90', 'log_inc', 'log_soc', 'ind_0_3', 'ind_4_5',
       'ind_6_10', 'ind_11_17', 'ind_18_24', 'ind_25_39', 'ind_40_54',
       'ind_55_64', 'ind_65_79', 'ind_80p', 'ind_inc', 'pre_IDF', 'select',
       'expt', '', 'res_com'],
      dtype='object')